<div class="row action-button-margins">
    <div class="col-md-3">
      <button type="button" class= "btn btn-outline-primary btn-md" data-toggle="modal" data-target="#ModalAddFinance">Add a new bill</button>
    </div>

    <div class="col-md-3">
      <%= link_to "Show All Bills", root_path, class: "btn btn-outline-primary btn-md" %>
    </div>

    <div class="col-md-3">
      <%= link_to "Show All Expense", finances_path(bill: "finance_expense"), class: "btn btn-outline-primary btn-md" %>
    </div>

    <div class="col-md-3">
      <%= link_to "Today", finances_path(bill: "today"), class: "btn btn-outline-primary btn-md" %>
    </div>
     <!-- <div class="row"> -->
           <!--  <div class="input-field col s6">
              <i class="material-icons prefix">Custom Date</i>
              <input type="date" class="datepicker" name="day">
            </div>
          </div> -->
    <div class="col-4">
      <%= form_tag(finances_path, method: :get) do %>
        <%= text_field_tag :bill, params[:bill], class: 'datepicker' %>
        <%= submit_tag 'Search', name: nil ,class: "btn btn-outline-primary btn-md" %>
      <% end %>
    </div>       
    <!-- </div> -->

</div>


<!-- Modal -->
<div class="modal fade" id="ModalAddFinance" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Finance Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="errors_invoice">
        </div>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>


<script>
  $(function() {
    // Add click event binding to `Save search` link
    $("#save_search").on("click", function(event) {
        event.preventDefault(); // don't trigger default

        // get the value inside the text field
        var name = $("#search_name").val();

        $.post('/index', { search_name: name }, function(data) {
            // log the result from the server, or whatever...
            console.log(data);
        });
    });
});

</script>

<script>
  JQuery(document).ready(function(){
  JQuery('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
})(JQuery);
</script>


<script>
  $(function() {
    $('.datepicker').datepicker({dateFormat: 'yy-mm-dd'});
});
</script>
